[Desktop Entry]
Encoding=UTF-8
Name=papara
Comment=papara P2P Cryptocurrency
Comment[fr]=papara, monnaie virtuelle cryptographique pair à pair
Comment[tr]=papara, eşten eşe kriptografik sanal para birimi
Exec=papara-qt %u
Terminal=false
Type=Application
Icon=papara128
MimeType=x-scheme-handler/papara;
Categories=Office;Finance;
